extends ./layout.pug

block content
    section.section
        div.container
            h1.title
                div Hello World
            p.subtitle.
                This text is subtitled in #[strong Bulma]
