doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    title #{title}
    meta(name="description" content=app.description)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keyword", content=app.keywords)

    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css")
    link(rel="stylesheet", href="jsonstyles.css")

    script(src="https://use.fontawesome.com/releases/v5.3.1/js/all.js", defer) 

  body#page-top
    //- Body    
    block content
    
